#admin-menu a.wiki-macros { background-image: url('../images/wiki_macros.png'); }
#admin-menu a.rails-info { background-image: url('../images/rails_mini.png'); }
.icon-weak { background-image: url('../images/true_weak.png'); }
th.selected, td.selected{ text-decoration: underline;}
td.target{ border: inset 2px black; }